<template>
    <div class="inner rounded flex bg-white w-full h-full flex-wrap">
        <!--LEFT_SIDE-->
        <div class="flex basis-1/5 border grow">
            <div class="flex flex-col w-full h-full overflow-hidden">
                <div class="flex justify-between items-center border-b">
                    <div class="mx-2 flex items-center justify-center">
                        <div class="flex-shrink-0 mx-2 my-4 rounded-full overflow-hidden h-12 w-12  cursor-pointer">
                            <img class="w-full h-auto rounded-full select-none" :src="UserImage">
                        </div>
                        <div>
                            <span class="font-medium select-none">{{ user?.name }}</span>
                        </div>
                    </div>
                    <div class="flex items-center mx-4">
                        <span class="select-none transition mx-3 text-green-400 cursor-pointer"><i
                                class="fas fa-circle"></i></span>
                        <span
                            class="menu-logout relative select-none transition hover:text-gray-500 mx-3 text-gray-600 cursor-pointer"><i
                                class="fas fa-ellipsis-v"></i>
                            <div
                                class="logout flex items-center pl-5 pr-5 pb-2 pt-2 justify-center rounded absolute right-0 top-2 bg-white border hover:bg-gray-200">
                                <a v-on:click="logout" class="p-2 px-2 text-lg text-gray-600">
                                    Logout
                                </a>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="select-none overflow-hidden overflow-y-auto h-full">
                    <h2 class="font-bold text-lg my-4  px-6 select-none">Users</h2>
                    <ul class="select-none">
                        <li v-for="(user) in users" v-on:click="getRooms(user)"
                            class="select-none transition hover:bg-green-50 p-4 cursor-pointer select-none">
                            <div class="user-box flex items-center">
                                <div class="flex-shrink-0 user-img w-14 h-14 rounded-full border overflow-hidden">
                                    <img class="w-full h-full" :src="UserImage">
                                </div>
                                <div class="user-name ml-2">
                                    <div><span class="flex font-medium">{{ user?.name }}</span></div>
                                    <div></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--LEFT_SIDE_END-->
        <!--RIGHT_SIDE-->
        <div class="basis-4/5 flex rounded-xl w-full grow">
            <div class="select-none overflow-hidden overflow-y-auto h-full w-full">
                <h2 class="font-bold text-lg my-4  px-6 select-none">Rooms</h2>
                <ul class="select-none flex p-2 flex-wrap max-w-full">
                    <li v-for="(room) in rooms" v-on:click="goToRoom(room)"
                        class="select-none transition hover:bg-green-50 p-4 m-2 cursor-pointer select-none flex rounded-xl border max-w-full grow">
                        <div class="user-box flex items-center w-full justify-between">
                            <div class="flex-shrink-0 user-img w-14 h-14 rounded-full border overflow-hidden">
                                <img class="w-full h-full" :src="DefaultImage">
                            </div>
                            <div class="ml-2 mr-2">
                                <span class="flex font-medium break-words" style="word-wrap: anywhere">{{ room?.link }}</span>
                            </div>
                            <div v-on:click.stop="deleteRoom(room)" class="flex text-red-400 justify-end ml-5 mr-5"><i
                                    class="fas fa-trash"></i></div>
                        </div>
                    </li>
                    <li v-on:click="createRoom()"
                        class="select-none transition hover:bg-green-50 p-4 m-2 cursor-pointer select-none flex rounded-xl border max-w-full grow">
                        <div class="user-box flex items-center w-full">
                            <div class="flex-shrink-0 user-img w-14 h-14 rounded-full border overflow-hidden">
                                <div class="w-full h-full flex items-center justify-center font-medium">+</div>
                            </div>
                            <div class="user-name ml-2">
                                <span class="flex font-medium">Add room</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--RIGHT_SIDE_END-->
    </div>
</template>

<script>
import UserImage from '@/assets/images/UserImage.png';
import CamImage from '@/assets/images/CamImage.png';
import DefaultImage from '@/assets/images/DefaultImage.png';

import { ref, inject } from 'vue';
import { useRouter } from 'vue-router';
import { useRequest } from '@/services/RequestService.js';

export default {
    components: {
    },
    props: {
        link: { required: false }
    },
    setup(props) {
        const router = useRouter();
        const request = useRequest();
        const user = ref();
        const users = ref();
        const rooms = ref();
        const token = inject('token');

        function getProfile() {
            request(`/users/profile`).then(data => {
                user.value = data.user;
                getRooms(user.value);
            }, (error) => {
                alert('Profile load error');
            });
        }

        function getUsers() {
            request(`/users`).then(data => {
                users.value = data.users;
            }, (error) => {
                alert('Users load error');
            });
        }

        function getRooms(user) {
            request(`/rooms/user/${user.id}`).then(data => {
                rooms.value = data.rooms;
            }, (error) => {
                alert('Rooms load error');
            });
        }

        function goToRoom(room) {
            router.push(`/room/${room.link}`);
        }

        function createRoom() {
            request(`/rooms/create`).then(data => {
                getRooms(user.value);
            }, (error) => {
                alert('Room create error');
            });
        }

        function deleteRoom(room) {
            request(`/rooms/${room.id}/delete`).then(data => {
                getRooms(user.value);
            }, (error) => {
                alert('Room create error');
            });
        }

        function logout() {
            request(`/auth/logout`).then(data => {
                localStorage.removeItem('token');
                token.value = null;
                router.push({ name: 'login' });
            }, (error) => {
                alert('Something went wrong');
            });
        }

        getProfile();
        getUsers();

        return {
            UserImage,
            CamImage,
            DefaultImage,
            user,
            users,
            rooms,
            getRooms,
            goToRoom,
            createRoom,
            deleteRoom,
            logout,
        };
    }
};
</script>