<template>
    <div class="inner rounded flex flex-wrap items-center justify-center bg-white basis-3/5 mb-40 border">
        <!--RIGHT_SIDE-->
        <div class="flex-2 flex rounded-xl w-full h-full">
            <!--PROFILE_SECTION-->
            <div class=" flex flex-1 justify-center items-center">
                <div class="flex flex-col flex-1 h-full overflow-hidden overflow-y-auto items-center justify-start">

                    <div class="mt-10 w-60 h-60 right-img rounded-full overflow-hidden">
                        <img class="h-auto w-full" :src="UserImage">
                    </div>

                    <div class="right-heading w-full flex flex-col items-center">
                        <div>
                            <h2 class="text-center">Welcome!</h2>
                            <p>Sign-in into your account.</p>
                        </div>
                        <div class="w-full" v-if="link">
                            <div class="w-full flex flex-col items-center">
                                <div v-if="link" class="flex w-full flex-col my-2 items-center">
                                    <input v-model="name" class="w-4/5 my-2 border border-gray-200 rounded px-4 py-2"
                                        type="text" placeholder="Name">
                                    <div class="select-none  error text-red-500 text-xs p-2 px-2 w-auto self-start ml-20">
                                        <!-- ERROR -->
                                    </div>
                                </div>
                                <div>
                                    <button v-on:click="loginAsGuest"
                                        class="active:-top-2 relative transition border border-gray-400 shadow-md my-4 bg-green-400 hover:bg-green-500 p-2 px-20 rounded-full text-white text-xl">Login</button>
                                </div>
                            </div>
                        </div>
                        <div class="w-full" v-else>
                            <div class="w-full flex flex-col items-center">
                                <div class="flex w-full max-w-sm flex-col my-2 items-center">
                                    <input v-model="login" class="w-4/5 my-2 border border-gray-200 rounded px-4 py-2"
                                        type="email" placeholder="Email or phone number">
                                    <input v-model="password" class="w-4/5 my-2 border border-gray-200 rounded px-4 py-2"
                                        type="password" placeholder="Password">
                                    <div class="select-none  error text-red-500 text-xs p-2 px-2 w-auto self-start ml-20">
                                        <!-- ERROR -->
                                    </div>
                                </div>
                                <div>
                                    <button v-on:click="authByLogin"
                                        class="active:-top-2 relative transition border border-gray-400 shadow-md my-4 mb-20 bg-green-400 hover:bg-green-500 p-2 px-20 rounded-full text-white text-xl">Login</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--PROFILE_SECTION_END-->
        </div>
        <!--RIGHT_SIDE_END-->
    </div>
</template>

<script>
import UserImage from '@/assets/images/UserImage.png';
import LoginImage from '@/assets/images/LoginImage.png';

import { ref, inject } from 'vue';
import { useRouter } from 'vue-router';
import { useRequest } from '@/services/RequestService.js';

export default {
    components: {
    },
    props: {
        link: { required: false }
    },
    setup(props) {
        console.log(props.link);
        const router = useRouter();
        const request = useRequest();
        const login = ref();
        const password = ref();
        const name = ref();
        const token = inject('token');

        function authByLogin() {
            request(`/auth/login?login=${login.value}&password=${password.value}`).then(data => {
                localStorage.setItem('token', data.token);
                token.value = data.token;
                router.push({ name: 'home' });
            }, (error) => {
                alert('Wrong email');
            });
        }

        function loginAsGuest() {
            request(`/auth/guest?name=${name.value}`).then(data => {
                router.push(`/room/${props.link}/${data.token}`);
            }, (error) => {
                alert('Cant login as guest');
            });
        }

        return {
            UserImage,
            LoginImage,
            login,
            password,
            name,
            authByLogin,
            loginAsGuest,
        };
    }
};
</script>