<template>
    <div class="inner flex bg-white w-full h-full">
        <div class="flex-2 flex rounded-xl w-full h-full ">
            <div v-if="!connected" class="flex flex-1 justify-center items-center">
                <div
                    class="select-none flex flex-col flex-1 h-full overflow-hidden overflow-y-auto items-center justify-center">
                    <div class="w-60 h-60 right-img select-none">
                        <img class="h-auto w-full select-none" :src="CamImage">
                    </div>
                    <div class="right-heading">
                        <h2 class="text-center select-none">Keep your webcam connected</h2>
                        <p v-if="!connecting" class="select-none text-center">This is app allow users to video chat with
                            other users.</p>
                        <p v-else class="select-none text-center">Connecting...</p>
                    </div>

                </div>
            </div>
            <div v-else class="overflow-hidden flex items-center h-full w-full">
                <div class="flex relative flex-col h-full w-full">
                    <div class="order-2 h-full">
                        <video :srcObject="remoteStream" class="h-full w-full object-cover" autoplay playsinline>
                        </video>
                        <video :srcObject="localStream" class="vid-2 z-1 right-0 bottom-1 absolute" autoplay playsinline
                            muted>
                        </video>
                    </div>
                    <div class="order-3 shadow-md flex justify-center btn-call-end items-end w-full h-full absolute ">
                        <button v-on:click="video = video ? false : true"
                            class="relative w-16 h-16 shadow-lg drop-shadow bg-green-600 m-2 rounded-full hover:bg-red-700 text-white text-2xl px-4 py-4 text-2xl">
                            <i v-if="video" class="fas fa-video"></i>
                            <i v-else class="fas fa-video-slash"></i>
                        </button>
                        <button v-on:click="audio = audio ? false : true"
                            class="relative w-16 h-16 shadow-lg drop-shadow bg-green-600 m-2  rounded-full hover:bg-red-700 text-white text-2xl px-4 py-4 text-2xl">
                            <i v-if="audio" class="fas fa-microphone"></i>
                            <i v-else class="fas fa-microphone-slash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UserImage from '@/assets/images/UserImage.png';
import CamImage from '@/assets/images/CamImage.png';

import { ref, inject, watch } from 'vue';

export default {
    components: {
    },
    props: {
        link: { required: false },
        token: { required: false }
    },
    setup(props) {
        const connecting = ref(false);
        const connected = ref(false);
        const localStream = ref(null);
        const remoteStream = ref(null);
        const video = ref(true);
        const audio = ref(true);
        const token = inject('token');
        const pc = ref();

        const iceConfiguration = {
            iceServers: [
                {
                    urls: 'stun:meets.bydovgal.com:3318',
                },
                {
                    urls: 'turn:meets.bydovgal.com:3318',
                    username: "webrtc",
                    credential: "pass",
                },
            ]
        };

        if (!token.value) {
            token.value = props.token;
        }

        function newPc() {
            pc.value = new RTCPeerConnection(iceConfiguration);
            return new Promise((resolve, reject) => {
                navigator.mediaDevices.getUserMedia({ video: true, audio: true }).then((stream) => {
                    localStream.value = stream;
                    stream.getTracks().forEach(track => pc.value.addTrack(track, stream));
                    resolve();
                }).catch((err) => {
                    console.log(err);
                    reject();
                });
            });
        }

        const conn = new WebSocket(`${import.meta.env.VITE_WEBSOCKET_URL}/?token=${token.value}&link=${props.link}`);

        conn.onmessage = async e => {
            let message = JSON.parse(e.data);
            let type = message.type;
            console.log(message);
            switch (type) {
                case 'user-answer':
                    connecting.value = false;
                    if (pc.value.localDescription) {
                        pc.value.setRemoteDescription(message.data);
                    }
                    break;
                case 'user-offer':
                    connecting.value = true;
                    createAnswer(message.data);
                    break;
                case 'user-connected':
                    connecting.value = true;
                    createOffer();
                    break;
                case 'user-disconnected':
                    pc.value = null;
                    connecting.value = false;
                    connected.value = false;
                    break;
                case 'user-candidate':
                    if (pc.value.localDescription) {
                        pc.value.addIceCandidate(new RTCIceCandidate(message.data));
                    }
                    break;
            }
        }

        function send(type, data) {
            conn.send(JSON.stringify({
                link: props.link,
                type: type,
                data: data
            }));
        }

        conn.onopen = e => {
            console.log('Websocket connection opened');
        };

        function createOffer() {
            newPc().then(() => {
                sendIceCandidate();
                pc.value.createOffer({ offerToReceiveVideo: 1 }).then((offer) => {
                    return pc.value.setLocalDescription(offer);
                }).then(() => {
                    send('user-offer', pc.value.localDescription);
                }).catch((err) => {
                    console.log(err);
                });
            });
        }

        function sendIceCandidate() {
            pc.value.onicecandidate = e => {
                if (e.candidate !== null) {
                    send('user-candidate', e.candidate);
                }
            }

            pc.value.ontrack = e => {
                connected.value = true;
                connecting.value = false;
                remoteStream.value = e.streams[0];
                console.log(e.streams);
            }
        }

        function createAnswer(data) {
            newPc().then(() => {
                sendIceCandidate();
                pc.value.setRemoteDescription(data).then(() => {
                    return pc.value.createAnswer();
                }).then((answer) => {
                    return pc.value.setLocalDescription(answer);
                }).then(() => {
                    send('user-answer', pc.value.localDescription);
                });
            });
        }

        watch(video, async (newVal, oldVal) => {
            localStream.value.getVideoTracks()[0].enabled = newVal;
        });

        watch(audio, async (newVal, oldVal) => {
            localStream.value.getAudioTracks()[0].enabled = newVal;
        });

        return {
            UserImage,
            CamImage,
            connecting,
            connected,
            localStream,
            remoteStream,
            video,
            audio,
        };
    }
};
</script>