*{
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

body {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

#app {
	width: 100%;
	height: 100%;
}

.wrapper{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2;
	background: #009688;
}
.wrapper::after{
	content: "";
	width: 100%;
	height: 80%;
	top: 20%;
	position: absolute;
	background: #d5dbd8;
	z-index: -2;
}

.right-heading h2{
	font-size: 40px;
	font-weight: 200;
	padding-top: 20px;
	padding-bottom: 5px;
}
.right-heading p{
	font-weight: 300;
}

.vid-2{
	width: 200px;
	height: auto;
	bottom: 0px;
}

.login-wrap{
	position: absolute;
	z-index: 11;
	width: 100%;
}
.login-wrap > divdiv:last-child{
	margin: 0px 20px 0px 20px;
}
.login-box{
	background: rgba(179, 179, 179, 0.31);
	border-radius: 5px;
	box-shadow: 0px -2px 8px #979797;
}

.login-box > div > div{
	margin:10px 20px;
}

.logout{
	display: none;
}
.menu-logout:hover > div.logout{
	display: flex;
}